@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

$primary-font: 'Open Sans', sans-serif;

$primary-font-color: #004051;

$primary-color: #70a000;
$secondary-color: #eaeaea;

@mixin headerFont() {
    font-family: $primary-font;
    font-size: 3em;
    font-weight: 200;
    color: $primary-font-color;
}

@mixin regularFont($fontcolor, $fontsize, $fontweight) {
    font-family: $primary-font;
    font-size: $fontsize;
    color: $fontcolor;
    font-weight: $fontweight;
    line-height: 1.4em;
}

.container-fluid {
    max-width: 1350px;
}

.main-container {
    .contents {
        padding: 40px ;
        h1 {
            @include headerFont();
            margin: 0;
            padding: 0;
        }
        p {
            @include regularFont($primary-font-color, 1.2em, 400);
        }
    }
}


//Global Styles

.flex-row {
    display: flex;
   
}

@mixin wikiBtn() {
    background-color: $primary-color;
    text-transform: uppercase;
    @include regularFont(#ffffff, 14px, bold);
    padding: 10px 40px;
    border-radius: 5px;
}

//Header

header {
    &.navbar-default  {
        background-color: transparent;
        border: none;
        margin-bottom: 0;
    }
    .nav {
        background-color: $primary-color;
        li {
            a {
            @include regularFont(#ffffff !important, 14px, bold);
            text-transform: uppercase;
            @media (max-width: 1300px) {
                font-size: 0.9em;
            } 
        }
        &.active,
        &:hover {
            a {
                background-color: transparent !important;
                color: #f7ec32 !important;
               }
           }
        }
    }
    .secondarybg {
        background-color: $secondary-color;  
    }
    .navbar-header {
        display: flex;
        align-items: center;
        .homeicon {
            padding: 15px;
            &.active,
            &:hover {
                span {
                    color: #f7ec32;
                }
            }
            span {
                color: #ffffff;
                font-size: 16px;
            }
        }
    }
    .search-row {
        height: 100%;
        .searchbar {
            background-color: #fff;
            border-bottom: 5px solid $primary-color;
            padding: 0;
            align-items: center;
            display: flex;
            height: 100%;
            form {
                position: relative;
                display: flex;
                height: 100%;
                .form--inline {
                    display: flex;
                    height: 100%;  
                    input {
                        display: flex;
                        width: 80%;
                        margin-top: 5px;
                        border: none;
                        box-shadow: none;
                        margin: 0;
                    }
                     button {
                        background: none;
                        border: none;
                        color: #ffffff;
                        padding-bottom: 0;
                        position: absolute;
                        top: 2px;
                        right: 0;
                        margin: 0;
                        width: 35px;
                        overflow: hidden;
                        span {
                            color: $primary-color;
                        }
                        &:hover,
                        &:focus,
                        &:active {
                            border: none;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
    .signin-btn {
        width: 100%;
        .signin {
            border-bottom: 2px solid #c2c2c2;
            height: 50px;
            display: flex;
            align-items: center;
            @include regularFont($primary-color, 14px, bold);
            p, span {
                display: inline-block;
            }
            p {
                width: 100%;
                text-align: left;
                margin: 0;
            }
            span {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                font-size: 18px;
            }
        }
    }
}

//Left Panel

.logo-row {
    height: 100vh;
    display: flex;
    aside {
        background-color: $secondary-color;  
    }
}

.logo {
    width: 100%;
    text-align: center;
}

//Breadcrumbs

.breadcrumb {
    background-color: transparent;
    padding: 0;
    li + li:before {
        content: "> ";
    }
    li,
    li a {
         @include regularFont(#666666, 14px, 400);
    }
}


//Pager 

.pager-nav {
    text-align: right;
}

