{#
/**
 * @file
 * Default theme implementation to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 *
 * @ingroup themeable
 */
#}

<div class="category-{{term.id}}">
<div{{ attributes }}>
  {{ title_prefix }}
  {% if not page %}
        {% set colour = content.field_department_colour %}

     
    <a href="{{url}}">{{name}}</a>
  {% endif %}
  {{ title_suffix }}
   <a href="{{url}}">
   {{content.field_department_image}}
   </a>
   </div>
</div>