aside {
    .region-sidebar-first {
        .view-id-categories  {
            .table-responsive {
                display: none;
            }
            form {
                fieldset {
                    width: 100%;
                    .form-item {
                        display: block;
                    }
                }
            }
        }
    }
}

.contents {
    .view-id-categories {
        form {
            display: none;
        }
    }
}

.categorytitle {
    margin-bottom: 20px !important;
}

.view-term-categories-list {
    .views-field-name {
        padding-bottom: 20px !important;
        a {
            @include regularFont(#337ab7, 18px, 400);
        }
    }
}

.view-id-categories,
.view-id-category_content,
.view-term-categories-list,
.view-search {
    .table-responsive {
        margin-top: 30px;
        padding-top: 30px;
    }
    thead {
        margin-bottom: 15px;
        th {
            border: none !important;
            @include regularFont(#337ab7, 16px, bold);
            a {
                @include regularFont(#337ab7, 16px, bold);
                border: 3px solid #d7d7d7;
                padding: 10px 20px 10px 10px;
                &:after {
                    content: "\e150";
                    font-family: 'Glyphicons Halflings';
                    top: 2px;
                    position: relative;
                    padding-left: 10px;
                    display: inline-block;
                }
                .tablesort  {
                    display: none;
                }
            }
        }
    }
    th, td {
        padding: 8px !important;
    }
     tr:first-of-type {
            td {
                padding-top: 30px !important;
            }
        }
    .categorytable {
        .views-field-title  {
            a {
                @include regularFont(#000000, 16px, bold);
            }
            p {
                @include regularFont(#000000, 14px, 400);
            }
        }
        &:first-of-type {
            td {
                 border-top: none !important;
            }
        }
        background-color: transparent !important;
       
        td {
            @include regularFont(#000000, 14px, 400);
            p {
                @include regularFont(#000000, 14px, 400);
            }
            vertical-align: middle;
            &:first-of-type {
                width: 40%;
            }
            &:nth-child(2) {
                width: 15%;
            }
            &:nth-child(3) {
                width: 25%;
            }
            &:last-of-type {
                width: 20%;
                text-align: right;
            }
            
        }
        .views-field-view-node,
        .views-field-edit-node,
        .views-field-edit-taxonomy-term,
        .views-field-nothing {
            a {
                @include wikiBtn();
                &:after {
                    font-family: 'Glyphicons Halflings';
                    display: inline-block;
                    padding-left: 15px;
                    font-size: 16px;
                    top: 2px;
                    position: relative;
                }
            }
        }
        .views-field-view-node,
        .views-field-nothing {
            a:after {
                content: '\e105';
            }
        }
        .views-field-edit-node,
        .views-field-edit-taxonomy-term {
            a:after {
                content: '\e065';
            }
        }
    }
}

.view-children-terms {
    a {
        div {
            @include regularFont(#0091d3, 14px, bold);
        }
    }
}

.sidefilters {
    padding: 20px;
    a {
        display: block;
        margin-bottom: 20px;
        @include regularFont(#000000, 14px, bold);
        &.not-active  {
            color: #000000 !important;
        }
    }
}

.page-node-type-article, {
    h1,
    .field--name-field-summary,
    .field--name-field-body {
        margin-bottom: 20px !important;
    }
}
