.loggedin {
    background-color: #20515f;
    display: flex;
    align-items: center;
    padding: 15px 15px 15px 45px;
    a, p {
      @include regularFont(#ffffff, 14px, 400);
    }
    span {
        color: #ffffff;
    }
    .logins {
        text-align: right;
    }
    .termlinks {
        a, p {
            display: inline-block;
            margin: 0;
        }
        a {
            padding: 0 15px;
        }
    }
      ul {
        margin: 0;
        list-style: none;
        display: inline-block;
        li {
            display: inline-block;
            padding: 0 15px;
            &:first-of-type {
                border-right: 1px solid #ffffff;
            }
        }
    }
    .logout-icon {
        text-align: right;
    }
   
}

.view-category-content,
.view-term-categories-list{
    .view-footer {
        margin-top: 20px;
        a {
            @include wikiBtn();
                &:after {
                    content: "\002b";
                    font-family: 'Glyphicons Halflings';
                    display: inline-block;
                    padding-left: 15px;
                    font-size: 16px;
                    top: 2px;
                    position: relative;
                }
        }
    }
}


#edit-field-department,
.filter-wrapper,
.form-item-view-mode,
#edit-relations {
    display: none !important; 
}

.node-preview-container {
    margin: 0;

}

.path-categories,
.path-category-content {
    h1 {
        margin-bottom: 20px !important;
    }
}

.node-article-edit-form {
.field--name-field-department {
        display: none;
    }
}

#node-article-form {
    .field--name-field-department {
        display: none;
    }
}

#edit-actions {
    #edit-delete {
        display: none;
    }
    a:last-of-type {
        float: right;
        @include regularFont(#666666, 14px, bold);
        text-transform: uppercase;
        text-decoration: underline;
         &:after {
            content: "\e105";
            font-family: 'Glyphicons Halflings';
            top: 2px;
            position: relative;
            padding-left: 5px;
            display: inline-block;
        }
    }
}

#edit-note {
    label {
        text-transform: uppercase;
        text-decoration: underline;
        cursor: pointer;
    }
}

.form-type-vertical-tabs {
    display: none;
    ul {
        display: none;
    }
    .vertical-tabs-panes {
        padding: 0;
        .panel-body {
            padding: 0;
            label {
                display: none;
            }
        }
    }
}

#edit-field-categories-wrapper {
    span {
        font-size: 14px;
        font-weight: bold;
    }
}

.js-quickedit-page-title {
    font-size: 1.6em !important;
    margin-bottom: 20px !important;
}

#node-revision-revert-confirm {
    a {
        &:after {
            content: "" !important;
        }
    }
}