.main-container {
  .logo {
    img {
      width: 150px;
    }
  }
    .page-header {
        border: none;
    }
    .department-list {
        margin-top: 60px;
        .col-sm-4 {
            padding: 0 50px 50px 0;
            img {
                width: 100%;
                padding: 15px 0;
            }
            .field--name-name {
                @include regularFont($primary-font-color, 1.2em, 600);
                text-transform: uppercase;
            }
        }
    }
}

.path-frontpage {
    h1 {
        margin-bottom: 20px !important;
    }
}
